<nav class="nav navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand nav-item nav-link active" href="/">Inicio</a>
        <a class="navbar-brand nav-item nav-link" href="/task/add">Tareas</a>
    </div>
</nav>